@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(100deg, #8e2de2, #4a00e0);
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.container {
  height: 100%;
  max-width: 500px;
  margin: 100px auto 0px auto;
}

/* @media (max-width: 992px) {
  .container {
    max-width: 550px;
    margin: 100px 20px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
} */

.block {
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0px;
  border-radius: 15px;
}

.headerBlock {
  text-align: center;
}

.low {
  padding-bottom: 10px;
}

.header {
  padding: 10px;
  margin: 0px 0px 5px 10px;
}

.addTask {
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
}

.input-1 {
  margin: 5px;
  border: none;
  width: 100%;
  outline: none;
}

.input-2 {
  margin: 5px;
  border: none;
  width: 100%;
  outline: none;
}

.task-1 {
  width: 90%;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  margin: 15px auto;
  transition: 0.4s;
}

.doubleBlock {
  width: 100%;
}

.time {
  display: flex;
  justify-content: space-between;
}

.text {
  font-size: 17px;
  font-weight: 100;
  margin: 7px;
  width: 100%;
  word-break: break-word;
}

.underText {
  margin: 0px;
  font-size: 12px;
  color: rgb(106, 106, 106);
}

.radio {
  padding: 0px;
  width: 25px;
  height: 25px;
  background: transparent;
  cursor: pointer;
}

.delete {
  background: transparent;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.plusLow {
  background: transparent;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.plusHigh {
  background: transparent;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.task-1:hover {
  background-color: #c4c4c4;
}

.delete:hover {
  color: red;
}

.plusLow:hover {
  color: green;
}

.plusHigh:hover {
  color: green;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #4b00e0;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(106, 106, 106, 0.601);
  border-radius: 15px;
  border: 3px solid #4b00e0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(86, 86, 86, 0.759);
}
